table {
    width: 100%;
    padding-top: 1%;
    margin-top: 5%;

  }

h1 {
    font-size: 3rem;
    align-items: center;
    text-align: center;
}


#product-container {
    //margin: 16px;
    background-color: yellowgreen ;
    background-color: transparent;
    //margin-top: 6%;
}


td.table-opt{
    text-align: center;
    //align-items: center;
  
}

.delete{
    color: red;
}

.a1 .a2{
    color: alpha($color: #000000);
}

.createAt{
    text-align: center;
}

.data{
    text-align: left;
    align-items: center;
   padding-left: 2%;
}