<div id="product-container">
    <h1> Product List</h1>


    <table mat-table class="mat-elevation-z8">
        <thead>
            <tr>
                <th scope="col"> Index </th>
                <th [appSort]="listproduct" data-order="desc" data-name="ProductTitle" scope="col"> Title </th>
                <th [appSort]="listproduct" data-order="desc" data-name="ProductPrice" scope="col"> Price </th>
                <th [appSort]="listproduct" data-order="desc" data-name="ProductQuantity" scope="col"> Quantity </th>
                <th scope="col"> Create Date </th>
                <th scope="col" colspan="2"> operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listproduct">
                <td> 1 </td>
                <td class="data"> {{product.ProductTitle}} </td>
                <td class="data"> {{product.ProductPrice}} </td>
                <td class="data"> {{product.ProductQuantity}} </td>
                <td class="createAt"> {{product.createdAt | date:'medium'}} </td>
                <!--<button (click)="UpdateProduct(product)">Edit</button>-->
                <td class="table-opt "> 
                    <button mat-button [routerLink]="['/update', product._id]">
                        <mat-icon>edit</mat-icon> <span> Edit</span>
                    </button> </td>
                <td class="table-opt delete"> 
                    <button mat-button (click)="deleteProduct(product)">
                        <mat-icon>delete</mat-icon>Delete
                    </button> </td>
            </tr>
        </tbody>

    </table>
</div>