<mat-toolbar>
    Sidebar Navigation
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        Navigation

        <button mat-button class="menu-button" [routerLink]="['/List']" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

        <button mat-button class="menu-button" [routerLink]="['/Form-Add']" routerLinkActive="router-link-active">
      <mat-icon>note_add</mat-icon>
      <span>Add</span>
    </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">

            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>