<div class="content">
    <h1> Update Form </h1>
    <form [formGroup]="insertForm" (ngSubmit)="UpdateProductDetail()">
        <div class="form-container">
            <div>
                <p>Title</p>
                <input class="form-field" formControlName="title">
                <div *ngIf="control('title')?.errors?.required" class="error">
                    Title is required
                </div>
            </div>

            <div>
                <p>Price</p>
                <input type="number" class="form-field" formControlName="price">
                <div *ngIf="control('price')?.errors?.min" class="error">
                    Title is required
                </div>
            </div>


            <div>
                <p>Quantity</p>
                <input type="number" class="form-field" formControlName="quantity">
                <div *ngIf="control('quantity')?.errors?.min" class="error">
                    Title is required
                </div>
            </div>



            <div>
                <button class="button" type="submit" [disabled]="insertForm.invalid">
                    <span> Update </span>
                </button>
            </div>

        </div>
    </form>
</div>