.content {
    display: flex;
    margin: 5px auto 32px;
    padding: 0 16px;
    //margin-top: 0%;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
}

.form-field {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.select {
    width: 235px;
    height: 70px
}

.button {
    border-radius: 4px;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.error {
    color: red;
    font-size: small;
}


h1 {
    font-size: 3rem;
    align-items: center;
    text-align: center;
}


p{
    font-weight: bold;
}